<div class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix" role="complementary">
<!--  <ul class="nav bs-docs-sidenav">
  <li class="">
    <a href="#grid">栅格系统</a>
    <ul class="nav">
      <li class=""><a href="#grid-intro">简介</a></li>
      <li class=""><a href="#grid-media-queries">媒体查询</a></li>
      <li><a href="#grid-options">栅格参数</a></li>
      <li><a href="#grid-example-basic">实例：从堆叠到水平排列</a></li>
      <li><a href="#grid-example-fluid">实例：流式布局容器</a></li>
      <li><a href="#grid-example-mixed">实例：移动设备和桌面屏幕</a></li>
      <li><a href="#grid-example-mixed-complete">实例：手机、平板、桌面</a></li>
      <li><a href="#grid-example-wrapping">实例：多余的列（column）将另起一行排列</a></li>
      <li><a href="#grid-responsive-resets">Responsive column resets</a></li>
      <li><a href="#grid-offsetting">列偏移</a></li>
      <li><a href="#grid-nesting">嵌套列</a></li>
      <li><a href="#grid-column-ordering">列排序</a></li>
      <li><a href="#grid-less">Less mixin 和变量</a></li>
    </ul>
  </li>
  <li class="">
    <a href="#type">排版</a>
    <ul class="nav">
      <li class=""><a href="#type-headings">标题</a></li>
      <li class=""><a href="#type-body-copy">页面主体</a></li>
      <li class=""><a href="#type-inline-text">内联文本元素</a></li>
      <li class=""><a href="#type-alignment">对齐</a></li>
      <li class=""><a href="#type-transformation">改变大小写</a></li>
      <li class=""><a href="#type-abbreviations">缩略语</a></li>
      <li class=""><a href="#type-addresses">地址</a></li>
      <li><a href="#type-blockquotes">引用</a></li>
      <li class=""><a href="#type-lists">列表</a></li>
    </ul>
  </li>
  <li class="">
    <a href="#code">代码</a>
    <ul class="nav">
      <li class=""><a href="#code-inline">内联代码</a></li>
      <li class=""><a href="#code-user-input">用户输入</a></li>
      <li class=""><a href="#code-block">代码块</a></li>
      <li class=""><a href="#code-variables">变量</a></li>
      <li class=""><a href="#code-sample-output">程序输出</a></li>
    </ul>
  </li>
  <li class="active">
    <a href="#tables">表格</a>
    <ul class="nav">
      <li class=""><a href="#tables-example">基本实例</a></li>
      <li class=""><a href="#tables-striped">条纹状表格</a></li>
      <li class=""><a href="#tables-bordered">带边框的表格</a></li>
      <li class=""><a href="#tables-hover-rows">鼠标悬停</a></li>
      <li class=""><a href="#tables-condensed">紧缩表格</a></li>
      <li class="active"><a href="#tables-contextual-classes">状态类</a></li>
      <li><a href="#tables-responsive">响应式表格</a></li>
    </ul>
  </li>
 </ul> -->
   <div id="ct_sidenav">    
    <%= raw find_all_child_categories(Category.first) %>
   </div>

</div>

