<%=provide(:title, "create a new article") %>
<%=provide(:css, "#editor {overflow:scroll; max-height:300px}") %>
<%= render "layouts/header" %>
<div class="container">
  <div class="hero-unit">
   <%= render 'form' %>
  </div>
</div>
