<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
      </h1>
    </section>
  </aside>

  <center>
     <div class="row">
    </div>
     <div class="row">
      <div class="span6 offset3">
      </div>
    </div>
    <div class="row">    
      <table class="table-bordered table-hover table-striped">
       <tbody>     
       </tbody>
      </table>   
     </div>    
  </center>
  </div> 